<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Responsive Header</title>
  <link rel="stylesheet" href="css/header.css" />
</head>
<body>

  <header class="header">

  <div class="logo">
    <img src="Assets/Logo.png" alt="Logo" />
  </div>

  <div class="menu-overlay" id="menuOverlay"></div>

  <nav class="nav" id="navMenu">

    <div class="mobile-header">
      <div class="logo-mobile">
        <img src="Assets/Logo.png" alt="Logo" />
      </div>

      <button class="close-btn" id="closeBtn">✕</button>
    </div>

    <a href="#" class="active">
      <img src="Assets/Home.png" class="nav-icon" alt="">
      Home
    </a>

    <a href="#">
      <img src="Assets/AboutUs.png" class="nav-icon" alt="">
      About Us
    </a>

    <a href="#">
      <img src="Assets/OurServices.png" class="nav-icon" alt="">
      Our Services
    </a>

    <a href="#">
      <img src="Assets/Pricing.png" class="nav-icon" alt="">
      Pricing
    </a>

    <a href="#">
      <img src="Assets/FAQ.png" class="nav-icon" alt="">
      FAQ
    </a>

    <a href="#">
      <img src="Assets/Contact.png" class="nav-icon" alt="">
      Contact
    </a>

    <button class="mobile-contact-btn">Contact Us</button>

  </nav>

  <button class="contact-btn">
    <img src="Assets/Contact-icon.png" alt="contact us" class="contact-icon">
    Contact Us
  </button>

  <button class="menu-btn" id="menuBtn">
    <img src="Assets/Menu.png" alt="Menu">
  </button>

</header>


</body>
</html>