<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compliance for Research Analysts</title>
    <link rel="stylesheet" href="css/page2.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <section class="compliance-section">
        <div class="container">
            <div class="left-content">
                <div class="title-wrapper">
                    <h1 class="main-title">
                        Why <span class="blue-text">Compliance Matters</span><br>
                        For Research Analysts
                    </h1>
                    <img src="Assets/Vector2.png" alt="scribble" class="vector-scribble">
                </div>

                <div class="hero-image-wrapper">
                    <img src="Assets/Section2-Image.png" alt="Main Illustration" class="main-img">
                </div>
                                <img src="Assets/Vector1.png" alt="decoration" class="bottom-vector">
            </div>

            <div class="right-content">
                <p class="description">
                    In Today's Regulatory Environment, Even A Small Oversight Can Lead To Penalties, Reputational Risks, And Loss Of Client Trust. We Help Research Analysts And Firms Navigate Complex Compliance Requirements So They Can Focus On Delivering High-Quality Research Without Worry.
                </p>

                <div class="cards-stack">
                    <div class="info-card">
                        
                        <div class="card-text">
                            <h3 class="card-title"><span><img src="Assets/RegulatoryClarity.png" alt="icon" class="icon-wrapper-img"></span>Regulatory Clarity</h3>
                            <p>We Decode Complex Compliance Rules Into Simple, Actionable Steps.</p>
                        </div>
                    </div>

                    <div class="info-card">
                        <div class="card-text">
                            <h3 class="card-title"><span><img src="Assets/Hassle-FreeFilingsClarity.png" alt="icon" class="icon-wrapper-img"></span>Hassle-Free Filings Clarity</h3>
                            <p>From Registration To Ongoing Reporting—We Manage It End-To-End.</p>
                        </div>
                    </div>

                    <div class="info-card">
                        <div class="card-text">
                            <h3 class="card-title"><span><img src="Assets/RiskProtection.png" alt="icon" class="icon-wrapper-img"></span>Risk Protection</h3>
                            <p>Stay Ahead Of Audits, Inspections, And Compliance Gaps With Proactive Support.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
</html>